<!DOCTYPE html>
html
  head
    title Frontend template
    link(rel="stylesheet", href="css/main.css")
  body
  include ./includes/main.jade
  include ./includes/nav.jade
  
  script(src="js/bundle.js")
